
html{
    background: black;
    font-family: 'Inter', sans-serif;
}


body{
    text-align: center;
    font-family: sans-serif 'Inter';
  
   
}

.card{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: inherit;
    margin: 50px auto 0px auto;  
}

.metric-div{
    color:white;
    background: linear-gradient(246.26deg,#585DFE, #FB3796);
    height: 40%;
    padding-top: 40px;

}

.title-paragraph{
    
    font-family: initial;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    word-spacing: -0.05em;

}

#digit-holder{
    font-size: 90px;
    font-weight: 800;
    line-height: 24px;
}


.conversion-div{
    background-color: #FBF7EE;
    height: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.type-of-metric-conversion{
font-weight: 900;
font-size: 16px;
line-height: 20px;
}

.units-converted{
    color: #4E4E4E;
    font-family: sans-serif;
}




.toggle-btns-div{
    width: 100%;
    /* background-color: #FBF7EE; */
    color: wheat;
    display: flex;
    justify-content: space-between;

}

.switch-to-turn-dark-mode, .switch-to-input-unit {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
  }
  

  .toggle-divs{
      /* background-color: red; */
     padding: 20px 20px 0px 20px;
  }

  
  /* .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  } */


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }